<h1>Seja Bem-Vindo!</h1>

<p>Idioma: <strong><%= t('actual_locale') %></strong></p>
<p><strong>Data: </strong><%= l(Date.today) %></p>

<%= render "menu" %>

<p><strong><%= @nome %></strong> esta em ambiente de <strong><%= railsEnv %></strong></p>